<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./vendor/autoload.php" colors="true" verbose="true">
    <testsuites>
        <testsuite name="wiejakp/ImageCrop unit tests">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
    </listeners>
    <logging>
        <log type="coverage-html" target="build/coverage" />
        <log type="coverage-text" target="build/coverage.txt" showOnlySummary="true" />
    </logging>
</phpunit>
